<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Add Question</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> 
</head>
 
<body>


	<div class="container">
		<div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/home">Home</a>
                    </li>
                   
                </ul>
            </nav>
            <h3 class="text-muted">Add a Question</h3>
        </div>

        <div class="">

		    <form action="/" method="POST">
		        <input type="text"  size = "85" row = "4" name="addquestion" placeholder="Add Question">
		    	<input type="submit" name="text" value="Submit">
		    </form>

			<footer class="footer">
	            <p>&copy; Tricon Infotech LLC</p>
	        </footer>

	    </div>
    </div>

</body>
</html>