<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Engineering Math</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="main">Home</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Engineering Math</h3>
      </div>
 
      <div class="jumbotron">
        <h1>Add Question</h1>
        
        <form class="form-signin">
        
        <label for="inputQuestion" class="sr-only">Question</label>
        
        <input type="text" name="inputQuestion" id="inputQuestion" class="form-control" placeholder="Question" required autofocus>

        <p>               </p> 

        <label for="inputAnswer" class="sr-only">Answer</label>
        
        <input type="text" name="inputEmail" id="inputEmail" class="form-control" placeholder="Answer" required autofocus>
        
        <p>               </p> 

        <label for="inputHints" class="sr-only">Hints</label>
        
        <input type="text" name="inputHints" id="inputHints" class="form-control" placeholder="Hints" required>
        <p>               </p> 

        <button id="btnAddQuestion" class="btn btn-lg btn-primary btn-block" type="button">Add</button>
      </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Tricon Infotech LLC</p>
      </footer>
 
    </div>
  </body>
</html>